.App {
  text-align: center;  
}


.App-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


@media (max-width: 800px) {
  .App-details {
    flex-direction: column;
  }
}

